body {
    text-align: center;
    background-color: #000;
}

#game-board {
    display: grid;
    height: 600px;
    width: 600px;
    margin: 100px auto;

    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 1%;
}

.game-tile {
    background-color: #ccc;
}