body {
    color: #ccc;
    text-align: center;
    background-color: #000;
    font-family: sans-serif;
}

#game-board {
    display: grid;
    height: 450px;
    width: 450px;
    margin: 100px auto;

    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 1%;
}

.game-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80pt;
}