body {
    color: #ccc;
    text-align: center;
    background-color: #000;
    font-family: monospace;
}

h1 {
    font-size: 50pt;
    margin-bottom: -40px;
}

#game-container {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;

    width: 1200px;
    margin: auto;
    user-select: none;
}

#player-waitstate-cover {
    display: none;
    position: absolute;
    width: 450px;
    height: 450px;
    margin-left: 286px;
    margin-top: 112px;
    background-color: rgba(148, 148, 255, 0.3);
}

#game-board {
    display: inline-grid;
    height: 450px;
    width: 450px;
    margin: 100px auto;
    grid-column-start: 2;

    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 1%;

    order: 1;

    padding: 10px;
    border: solid #888 2px;
}

#infobox {
    display: inline-flex;
    text-align: left;
    height: 190px;
    width: 400px;
    margin: auto;
    border: solid #888 1px;
    border-radius: 10px;
    font-size: 1.25em;

    flex-direction: column;
    justify-content: space-evenly;

    margin-left: 30px;
    padding-left: 20px;

    order: 2;
}

.infobox-entry {
    margin: 0;
}

#text-victory, #text-tie {
    display: none;
}

.info-text {
    font-weight: bold;
}

select, #reset-button {
    font-family: monospace;
    background-color: #AAA;
}

#reset-button:hover {
    background-color: #777;
}

select:hover {
    border: 1px solid #CCC;
    border-radius: 1px;
}

.game-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80pt;
    font-family: sans-serif;

    color: #000;
    background-color: #ccc;
}

.hovered {
    color: #777;
    background-color: #AAA;
}

.played {
    color: #000;
    background-color: #FFF;
}

.victory {
    color: darkgreen;
    background-color: lightgreen;
}

.tie {
    color: #444;
    background-color: #AAA;
}